<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>control.ControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   
   
	<servlet>
         <servlet-name>Config</servlet-name>
         <servlet-class>util.Config</servlet-class>


        <init-param>
           <param-name>Url</param-name>
           <param-value>localhost</param-value>
        </init-param>
        <init-param>
           <param-name>UserName</param-name>
           <param-value>root</param-value>
        </init-param>
        <init-param>
           <param-name>Password</param-name>
           <param-value>lthgf</param-value>
        </init-param>
        <init-param>
        	<param-name>AdminLogin</param-name>
            <param-value>Admin</param-value>
        </init-param>
        <init-param>
        	<param-name>AdminPassword</param-name>
            <param-value>lthgf</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
